.detailedPost__head{
 padding: 129px 58px 130px 70px;
  background: #0A3465;
}

.detailedPost__data{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #C1C1C1;
}

.detailedPost__title{
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.detailedPost__subtitle{
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.detailedPost__body{
  padding: 35px 70px;
}
.detailedPost__text{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.detailedPost__info{
  display: flex;
  margin-bottom: 20px;
}

.detailedPost__views img{
 margin-right: 15px;
}
.detailedPost__views{
  color: #C1C1C1;
  margin-left: 15px;
}

.detailedPost__commentTitle{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #0A3465;
}
.detailedPost__commentTitle{
  margin-bottom: 20px;
}
.detailedPost__comments{
  margin-bottom: 30px;
}
.detailedPost__addComment{
  display: flex;
  flex-direction: column;
}
.detailedPost__addComment_title{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0A3465;
  margin-bottom: 10px;
}

.detailedPost__addComment_input{
  border: 1px solid #ECEEF1;
  border-radius: 10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
}

.detailedPost__addComment_btn{
  border: none;
  width: 20%;
  padding: 15px;
  background: #FFDF36;
  border-radius: 12px;
  align-self: flex-end;
  cursor: pointer;
}


.detailedPost_bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detailedPost_error{
  color: red;
  margin-right: 20px;
}

.detailedPost_loading{
  animation: loading 2s ease-in-out infinite;
}
@keyframes loading {
  0% {
    color: #fff;
  }
  50% {
    color: #666;
  }
  100% {
    color: #fff;
  }
}