.createPost__container{
  display: flex;
  flex-direction: column;
  padding: 70px 85px 0 60px;
}
.createPost__titleInput{
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
  color: #000;
  margin-bottom: 25px;
}
.createPost__inputContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.createPost__label{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0A3465;
}
.createPost__input{
  border: 1px solid #ECEEF1;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  padding: 15px;
  resize: none;
}

.createPost__inputImg{
  width: 100%;
}

.createPost__btn{
  background: #FFDF36;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  width: 30%;
  align-self: flex-end;
  cursor: pointer;
}

.createPost_loading{
  animation: loading 2s ease-in-out infinite;
}
@keyframes loading {
  0% {
    color: #fff;
  }
  50% {
    color: #666;
  }
  100% {
    color: #fff;
  }
}
.input__wrapper {
  width: 70%;
  position: relative;
  text-align: center;
  margin-left: 15px;
}

.createPost_bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createPost_error{
  color: red;
  margin-right: 20px;
}

